00_intro/*
**/.idea/*
**/cmake-build-debug/*
**/build/*
*.vtk
*.vtu
*.pvd
**/trash
.vscode
CMakeFiles/
CMakeCache.txt
2021/*
out_gmsh/
*.c
*.h
Makefile
*.cmake
*.pvtu
Solutions/03_fenics/hyperelasticity/demo_hyperelasticity
Solutions/03_fenics/fish_mesh/poisson
oldfenics
dolfin
store
.DS_Store